<html>
    <head>
        <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            </head>
            <body>
                    <nav>
                            <div class="nav-wrapper">
                              <a href="#" class="brand-logo">Estatics</a>
                              <ul id="nav-mobile" class="right hide-on-med-and-down">
                                    <li><a href="/property">Properties</a></li>
                                    <li><a href="/sell">Sell</a></li>
                                    <li><a href="/myproperties">My Properties</a></li>
                                    <li><a href="/transaction">Transaction</a></li>
                                    <li><a href="/signin">SignOut</a></li>
                              </ul>
                            </div>
                        </nav>
<div class="center-align" style="margin-left: 250px; margin-right: 250px"> <h1>showing my properties</h1>
<div>
        <% result["rows"].forEach(function(property){ %>
        <div class="col s12 m7">
                
                <div class="card horizontal">
                  <div class="card-image" style="width:350px;height:250px">
                    <img src="/images/<%=property.imageurl%>" height="250px" width="150px">
                  </div>
                  <div class="card-stacked">
                    <div class="card-content">
                      <h4 class="left-align"><%=property.name%></h4></div>
                      <div>
                        <p>Place : <%=property.place %></p>
                      <p>Cost : <%=property.cost %></p>
                      <p>Description : <%=property.description %></p>
                      <form action="/delete/<%= property.propertyid %>" method="post">
                      <input type="submit" name="delete" value="delete">
                    </form>
                    </div>
                  </div>
                </div>
            </div>
    <% }) %>
  </div>
  </body>
</html>
