<html>
    <head>
        <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            </head>
            <body>
                    <nav>
                            <div class="nav-wrapper">
                              <a href="#" class="brand-logo">Estatics</a>
                              <ul id="nav-mobile" class="right hide-on-med-and-down">
                                    <li><a href="/property">Properties</a></li>
                                    <li><a href="/sell">Sell</a></li>
                                    <li><a href="/myproperties">My Properties</a></li>
                                    <li><a href="/transaction">Transaction</a></li>
                                <li><a href="/signin">SignOut</a></li>
                              </ul>
                            </div>
                        </nav>
    
 <div class="center-align" style="margin-left: 250px;margin-right:250px">                  
<div> <h2>rent details</h2></div>
<table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Serial No</th>
            <th scope="col">Property Id</th>
            <th scope="col">Duration</th>
            <th scope="col">Person</th>
            <th scope="col">Cost</th>
          </tr>
        </thead>
        <tbody>
          <% var c=1,total=0 %>
          <% data["rows"].forEach(function(rentdetails){ %>
            <tr>
            <th scope="row"><%=c%></th>
            <td><%=rentdetails.propertyid%></td>
            <td><%=rentdetails.duration %></td>
            <td><%=rentdetails.person %></td>
            <td><%=rentdetails.total_rent %></td>
          </tr>
          <% total=total + rentdetails.total_rent %>
          <% c++ %>
          <% }) %>
        </tbody>
    </table>
    <br>
<h2>TOTAL Amount: <%=total%>
<div id="paypal-button"></div>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>
paypal.Button.render({
// Configure environment
env: 'sandbox',
client: {
sandbox: 'demo_sandbox_client_id',
production: 'demo_production_client_id'
},
// Customize button (optional)
locale: 'en_US',
style: {
size: 'small',
color: 'gold',
shape: 'pill',
},
// Set up a payment
payment: function (data, actions) {
return actions.payment.create({
transactions: [{
amount: {
total: '0.01',
currency: 'USD'
}
}]
});
},
// Execute the payment
onAuthorize: function (data, actions) {
return actions.payment.execute()
.then(function () {
// Show a confirmation message to the buyer
window.alert('Thank you for your purchase!');
});
}
}, '#paypal-button');
</script>
</h2>
</div>
</body>
</html>
