<html>
    <head>
        <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQn0q2syCPvpuTeKOp-pRCzkD086icmUY&callback=initMap">
    </script>
        <script>
            function initMap() {
              var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 13,
                center: {lat: -34.397, lng: 150.644}
              });
              var geocoder = new google.maps.Geocoder();
        
              document.getElementById('submit').addEventListener('click', function() {
                geocodeAddress(geocoder, map);
              });
            }
        
            function geocodeAddress(geocoder, resultsMap) {
              var address = document.getElementById('address').value;
              geocoder.geocode({'address': address}, function(results, status) {
                if (status === 'OK') {
                  resultsMap.setCenter(results[0].geometry.location);
                  var marker = new google.maps.Marker({
                    map: resultsMap,
                    position: results[0].geometry.location
                  });
                } else {
                  alert('Geocode was not successful for the following reason: ' + status);
                }
              });
            }
          </script>    
        </head>
            <body >
                    <nav>
                            <div class="nav-wrapper">
                              <a href="#" class="brand-logo">Estatics</a>
                              <ul id="nav-mobile" class="right hide-on-med-and-down">
                                    <li><a href="/property">Properties</a></li>
                                    <li><a href="/sell">Sell</a></li>
                                    <li><a href="/myproperties">My Properties</a></li>
                                    <li><a href="/transaction">Transaction</a></li>
                                <li><a href="/signin">SignOut</a></li>
                              </ul>
                            </div>
                        </nav>
<div class="row" id="lo">
    <div class="col s3">
        
            
                  <div class="card" style="height: 90%">
                    <div class="card-image">
                    <% foundinfo["rows"].forEach(function(property){ %>
                      <img src="/images/<%=property.imageurl%>"/>
                      <span class="card-title"><%=property.name%></span>
                    </div>
                    <div class="card-content">
                                       Address: <%=property.place %><br>
                                        Cost: <%=property.cost %>
                                    <% }) %>
                                    <br>
                                    <input id="address" type="textbox" value="<%=foundinfo.rows[0].place%>" style="display:none">
                                    <input id="submit" type="button" value="Locate">
                                    <div>
                                            <h6>REVIEWS</h6>
                                            <% reviews["rows"].forEach(function(review){ %>
                                                <li><%=review.comment%></li>
                                                <% }) %>
                                        </div>
                                        
                                        <div>
                                            <h6>write a review</h6>
                                            <form method="post" action="/review">
                                            <input type="text" name="comment" placeholder="Review">
                                            <input type="submit" value="submit">
                                            </form>
                                        </div>
                    </div>
                    <div class="card-action">
                            <form method="post" action="/buy">
                                <input type="submit" value="buy">
                            </form>
                            <button type="button"><a href="/rent">rent</a></button>
                    </div>
                  
                
              </div>
            </div>
    <div class="col s9">
        <div id="map" style="height:90%;width:100%;margin-top:10px"></div>
    </div>
</div>
    </body>
    </html>
    